.grid-wrapper{
  display: grid;
  grid-template-columns: 1.8fr 4fr;
  grid-template-rows: 80vh 40vh 40vh auto auto;
  @media (max-width: $medium-devices) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 20vh;
  }
}
