.main__layout-background{
  grid-row: 4 / 6;
  grid-column: 1 / 5;
  background: url('../images/showcase-background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
